<section class="info">
  <table>
    <thead>
      <th>Descripción</th>
      <th>Valor</th>
    </thead>
    <tbody>
      <tr>
        <td>Argumentos de entrada</td>
        <td>{{ data.argumentosDeEntrada }}</td>
      </tr>
      <tr>
        <td>Nombre de la plataforma</td>
        <td>{{ data.sistemaOperativo }}</td>
      </tr>
      <tr>
        <td>Version de node.js</td>
        <td>{{ data.versionNode }}</td>
      </tr>
      <tr>
        <td>Memoria total reservada (rss)</td>
        <td>{{ data.rss.rss }}</td>
      </tr>
      <tr>
        <td>Path de ejecución</td>
        <td>{{ data.pathDeEjecucion }}</td>
      </tr>
      <tr>
        <td>Process id</td>
        <td>{{ data.processId }}</td>
      </tr>
      <tr>
        <td>Carpeta del proyecto</td>
        <td>{{ data.carpetaDelProyecto }}</td>
      </tr>
    </tbody>
  </table>
</section>